* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 253, 251);
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    background-color: rgb(19, 10, 92);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.left {
    font-size: x-large;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}

.firstsection>div {
    width: 40%;
}

.laftsection {
    font-size: 2.5rem;
    color: rgb(31, 12, 83);
    margin: 50px;
    padding-top: 40px;
}

.rightsection img {
    width: 80%;
    padding-top: 45px;
}

.green {
    color: rgb(80, 200, 80);
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

nav ul li a:hover {
    color: brown;
    font-size: 1.02rem;
}

.secondsection {
    min-width: 80vw;
    margin: auto;
    color: rgb(28, 28, 81);
    margin: auto;
    padding-left: 70px;
    height: 60vh;
}

main hr {
    border: 0;
    background-color: rgb(10, 10, 60);
    height: 1.2px;
    margin: 40px 84px;
}

.secondsection .box {
    background: rgb(40, 6, 94);
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 2px;
    background-color: rgb(46, 25, 133);
    margin: 0 120px;
}

.vertical_titel {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical_desc {
    position: relative;
    top: 86px;
    color: rgb(52, 29, 117);
    width: 150px;
    font-size: 10px;
}

.image_top {
    width: 40px;
    position: relative;
    top: -40px;
    width: -6px;
}

.footer {
    background-color: rgb(44, 32, 125);
    height: 100px;
}

.footer {
    display: flex;
    padding: 23px 100px;
    justify-content: space-around;
}

.color_blue {
    color: rgb(238, 238, 245);
    background-color: rgb(67, 27, 123);
    padding: 10px 20px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}